mixin question(additionalClass)
  .question(class=additionalClass)
    +logo('question__logo')
    p.question__text Цi споўнілася вам 18 гадоў?
    .question__buttons
      a.button.question__button(href="#") Так
      a.button.question__button(href="#") Не