mixin question(additionalClass)
  .question(class=additionalClass)
    .game__orientation--portrait  Калі ласка, <br>павярніце <br>вашу прыладу <br>вертыкальна.
    +stars
    +logo('question__logo')
    p.question__text Цi споўнілася <br>вам 18 гадоў?
    .question__buttons
      a.button.question__button.question__button--yes(href="#") Так
      a.button.question__button(href="https://www.google.by/search?q=%D0%BA%D0%B0%D0%BB%D1%8F%D0%B4%D0%BD%D0%B0%D1%8F+%D0%BD%D0%BE%D1%87") Не