mixin win(additionalClass)
  .win(class=additionalClass)
    .game__orientation--portrait  Калі ласка, <br>павярніце <br>вашу прыладу <br>вертыкальна.
    +stars
    .win__objects
    +logo('win__logo')
    .win__header
    .win__result 
      .win__result-text за 
      .win__result-number
      .win__result-text.win__result-text--minute хвiлiн
    .win__text вы знайшлі ўсе складнікі сапраўднага смаку Каляд – новага <br>піва «Калядная Ноч» з водарам шакаладу і надыходзячых свят ад «Аліварыя».
    +socials('socials--gold', 'win__socials')
    .win__text Прапануйце сябрам даведацца, колькі часу <br>ім спатрэбіцца, каб адшукаць смак Каляд!
