mixin win(additionalClass)
  .win(class=additionalClass)
    .win__objects
    +logo('win__logo')
    .win__header
    .win__result за 
      .win__result-number 20 
      | хвилин
    .win__text вы знайшлі ўсе складнікі сапраўднага смаку Каляд – новага <br>піва «Калядная Ноч» з водарам шакаладу і надыходзячых свят ад «Аліварыя».
    +socials('socials--gold', 'win__socials')
    .win__text Прапануйце сябрам даведацца, колькі часу <br>ім спатрэбіцца, каб адшукаць смак Каляд!
