.win {
  background: url(../img/win-bg.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 9.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
  @media screen and (max-width: @screen-md) {
    padding-top: 1.1rem;
    background: url(../img/win-mobile.jpg) no-repeat bottom right;
    background-size: cover;
  }
  
  &__logo {
    width: 25.8rem;
    height: 17.6rem;
  
    @media screen and (max-width: @screen-md) {
      width: 7.4rem;
      height: 5.1rem;
      flex: 0 0 auto;
    }
  }
  
  &__header {
    margin: 6.7rem auto 1.5rem;
    background: url(../img/win-header.png) no-repeat;
    background-size: cover;
    width: 35.5rem;
    height: 10.4rem;
  
    @media screen and (max-width: @screen-md) {
      width: 13.6rem;
      height: 3.98rem;
      margin: .9rem auto 0;
      flex: 0 0 auto;
      background-size: contain;
    }
  }
  
  &__result {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  
    @media screen and (max-width: @screen-md) {
      margin-bottom: 1rem;
    }
  }
  
  &__result-number {
    font-weight: 700;
    margin: 0 2rem;
    text-shadow: 0 .3rem .87rem rgba(0, 0, 0, 0.72);
    color: #fff;
    font-size: 6.5rem;
    font-family: @font-fancy;
  
    @media screen and (max-width: @screen-md) {
      font-size: 2.6rem;
      font-weight: 700;
      margin: 0 .5rem;
    }
  }
  
  &__result-text {
    text-shadow: 0 .3rem .87rem rgba(0, 0, 0, 0.72);
    color: #fff;
    font-size: 6.5rem;
    font-family: @font-fancy;
  
    @media screen and (max-width: @screen-md) {
      font-size: 2.6rem;
    }
  }
  
  &__socials {
    margin: 6.1rem 0 4.4rem;
  
    @media screen and (max-width: @screen-md) {
      margin: 2.5rem 0 2rem;
    }
  }
  
  &__text {
    font-family: @font-regular;
    font-size: 2.5rem;
    color: #fff;
    line-height: 5.3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    @media screen and (max-width: 1440px) {
      font-size: 3.2rem;
    }
  
    @media screen and (max-width: @screen-md) {
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-top: 0;
      max-width: 30rem;
      
      br {
        display: none;
      }
    }
  }
}