mixin message--library(additionalClass)
  .message(class=additionalClass)
    p.message__header Рэцэпт знойдзены!
    p.message__text Зараз неабходна падабраць правільныя інгрэдыенты!
    a.button.button--gold.message__close.message__close--library(href="#") Далей
    
    
mixin message--factory(additionalClass)
  .message(class=additionalClass)
    p.message__header Вы знайшлі ўсе інгрэдыенты.
    p.message__text Засталося толькі надаць напою правільны настрой!
    a.button.button--gold.message__close.message__close--factory(href="#") Далей