mixin message--library(additionalClass)
  .message(class=additionalClass)
    a.message__close.message__close--library(href="#")
    p.message__header Рэцэпт знойдзены!
    p.message__text Зараз неабходна падабраць правільныя інгрэдыенты!
    
    
mixin message--factory(additionalClass)
  .message(class=additionalClass)
    a.message__close.message__close--factory(href="#")
    p.message__header Вы знайшлі ўсе інгрэдыенты.
    p.message__text Засталося толькі надаць напою правільны настрой!