
include ../blocks/warning/warning.pug
include ../blocks/question/question.pug
include ../blocks/logo/logo.pug
include ../blocks/button/button.pug
include ../blocks/socials/socials.pug
include ../blocks/front/front.pug
include ../blocks/card/card.pug
