head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title Калядны квэст
  link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/style.css')
  meta(property='og:url', content='http://tallest.ru/pages/alivariya/')
  meta(property='og:image', content='http://tallest.ru/pages/alivariya/img/share.jpg')
  meta(property='og:title', content='Калядны квэст')
  meta(property='og:description', content='Адшукай сапраўдны смак Каляд!')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@zhmurik')
  meta(name='twitter:title', content='Калядны квэст')
  meta(name='twitter:description', content='Адшукай сапраўдны смак Каляд!')
  meta(name='twitter:image', content='http://tallest.ru/pages/alivariya/img/share.jpg')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")