mixin game-popup(additionalClass)
  .game-popup(class=additionalClass)
    .game-popup__close
    img.game-popup__picture(src="#", alt="Ingredient")
    .game-popup__header
    p.game-popup__text
    .game-popup__status.game-popup__status--key