mixin game-popup(additionalClass)
  .game-popup(class=additionalClass)
    .game-popup__close
    img.game-popup__picture(src="img/item-caramel.png", alt="Солад")
    .game-popup__header Карамельны солад
    p.game-popup__text Вашыя веды дзівяць! Сапраўды, карамельны солад дадаюць у калядны гатунак пiва, каб узмацнiць водар i надаць прыгожы колер напою.
    .game-popup__status.game-popup__status--key