mixin socials(additionalClass, additionalClass2)
  .socials(class=additionalClass, class=additionalClass2)
    a.socials__item.socials__item--fb(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=http%3A//kalyadnae.redgraphic.org")
    a.socials__item.socials__item--vk(target="_blank", href="http://vk.com/share.php?url=http://kalyadnae.redgraphic.org")
    a.socials__item.socials__item--twitter(target="_blank", href="https://twitter.com/share")
    a.socials__item.socials__item--ok(target="_blank", href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=http://kalyadnae.redgraphic.org")