mixin card-game--library(additionalClass)
  .card-game.card-game--library(class=additionalClass)
    p.card-game__text Людзі шмат гадоў шукалі сапраўдны смак Каляд! Таму варта пачаць пошук у бібліятэцы – тут павінна быць нямала цікавага!
    p.card-game__appeal Знайдзіце 3 прадмета, якія могуць дапамагчы ў стварэнні сапраўднага смаку Каляд!
    a.card-game__button(href="#") Шукаць
    
mixin card-game--factory(additionalClass)
  .card-game.card-game--factory(class=additionalClass)
    p.card-game__text Каб калядны гатунак атрымаўся сапраўдным і насычаным, патрэбны самыя якасныя iнгрэдыенты. Знайдзiце iх!
    p.card-game__appeal Знайдзіце 3 інгрэдыенты, якія дапамогуць стварыць сапраўдны смак Каляд!
    a.card-game__button(href="#") Шукаць
    
mixin card-game--fair(additionalClass)
  .card-game.card-game--fair(class=additionalClass)
    p.card-game__text Вам засталося толькі напоўніць смак Каляд правільным настроем! Будзьце ўважлівы, гэта самы важны этап! 
    p.card-game__appeal Знайдзіце 3 рэчы, якія могуць дапамогуць напоўніць смак Каляд правільным настроем!
    a.card-game__button(href="#") Шукаць