mixin card-game--library(additionalClass)
  .card-game.card-game--library(class=additionalClass)
    .card-game__header №1 Бiблiятэка
    p.card-game__text Людзі шмат гадоў шукалі сапраўдны смак Каляд! Таму варта пачаць пошук у бібліятэцы – тут павінна быць шмат цікавага! 
    p.card-game__appeal Знайдзіце тры прадметы, якія дапамогуць <br>стварыць сапраўдны смак Каляд!
    a.card-game__button(href="#") Шукаць
    
mixin card-game--factory(additionalClass)
  .card-game.card-game--factory(class=additionalClass)
    .card-game__header №2 Завод
    p.card-game__text Каб калядны гатунак пiва атрымаўся сапраўдным і насычаным, патрэбны самыя якасныя інгрэдыенты. Знайдзіце іх!
    p.card-game__appeal Знайдзіце 3 інгрэдыенты, якія дапамогуць <br>стварыць сапраўдны смак Каляд!
    a.card-game__button(href="#") Шукаць
    
mixin card-game--fair(additionalClass)
  .card-game.card-game--fair(class=additionalClass)
    .card-game__header №3 Кірмаш
    p.card-game__text Вам засталося толькі напоўніць смак Каляд правільным настроем! Будзьце ўважлівыя, гэта самы важны этап! 
    p.card-game__appeal Знайдзіце тры рэчы, якія дапамогуць <br>напоўніць смак Каляд правільным настроем!
    a.card-game__button(href="#") Шукаць