mixin objects(additionalClass)
  .objects(class=additionalClass)
    .objects__card-night
    .objects__envelope
    .objects__key
    .objects__ball-side
    .objects__ball-top
    .objects__bottle
    .objects__bottle-right
    .objects__chocolate-bottom
    .objects__chocolate-left
    .objects__chocolate-right
    .objects__hop
    .objects__sleigh
    .objects__star-1
    .objects__star-2
    .objects__star-3
    .objects__star-4