mixin game(additionalClass)
  .game(class=additionalClass)
    .game__objects
      .game__chocolate
      .game__hop-vertical
      .game__hop
      .game__bottle
    .game__location.game__location--first
      +slots('game__slots')
      +card-game
      +game-popup
      .game__ingredients-container
        a.game__ingredient.game__ingredient--correct.game__ingredient--shato(href="#", data-picture="item-shato.png", date-header="Солад Шато Шакалад", date-text="Усё правільна: абсмажаны пры высокіх тэмпературах да цёмна-карычневага колеру, гэты солад надае піву лёгкі арамат смажаных арэхаў і шакаладу.")