mixin game(additionalClass)
  .game.game--blocked(class=additionalClass)
    .game__orientation Калі ласка, <br>павярніце <br>вашу прыладу <br>гарызантальна.
    .game__objects
    +game-popup
    .game__location-wrapper
      +slots('game__slots')
      .game__location.game__location--first
        .game__animation
          .game__animation-tree
            .game__animation-tree-light.game__animation-tree-light
            .game__animation-tree-light.game__animation-tree-light
            .game__animation-tree-light.game__animation-tree-light
            .game__animation-tree-light.game__animation-tree-light
            .game__animation-tree-light.game__animation-tree-light
            .game__animation-tree-light.game__animation-tree-light
            .game__animation-tree-light.game__animation-tree-light
            .game__animation-tree-light.game__animation-tree-light
          .game__animation-lantern.game__animation-lantern--1
          .game__animation-lantern.game__animation-lantern--2
        +card-game--library
        .game__ingredients-container
          a.game__ingredient.game__ingredient--correct.game__ingredient--calendar(href="#", data-picture="item-calendar.png", data-slot="slots__item--calendar", data-header="Каляндар", data-text="Так! Калядны гатунак піва варта ствараць менавіта падчас Каляд, інакш напой пазбавіцца чароўнасці святочнага настрою.")
          a.game__ingredient.game__ingredient--correct.game__ingredient--address(href="#", data-picture="item-address.png", data-slot="slots__item--address", data-header='Адрас півавара', data-text='(Завод «Аліварыя», вуліца Кісялёва, 30, г. Мінск) Канешне, без вопытных півавараў нічога не атрымаецца! Смак Каляд — справа далiкатная.')
          a.game__ingredient.game__ingredient--correct.game__ingredient--recipe(href="#", data-picture="item-recipe.png", data-slot="slots__item--recipe", data-header="Рэцэпт піва ад еўрапейскіх півавараў", data-text="Здаўна напярэдадні Каляд еўрапейцы выпускаюць лімітаваную серыю шакаладнага піва. Варта вывучыць іх вопыт!")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--xerox(href="#", data-picture="item-xerox.png", data-header=" Капіравальная машына", data-text="Гэты агрэгат вам не спатрэбіцца — нельга скапіраваць смак Каляд. Трэба стварыць свой, унікальны… Шукайце далей!")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--book(href="#", data-picture="item-book.png", data-header="Кулінарная кніга", data-text="Рэч карысная. Але піва па кулінарных рэцэптах не зварыш… Шукайце далей!")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--chair(href="#", data-picture="item-chair.png", data-header="Крэсла", data-text="Такое мяккае і ўтульнае... Але ў нас няма часу заседжвацца — трэба зварыць каляднае піва да наступлення святаў! Шукайце далей!")
        +message--library
      .game__location.game__location--second
        .game__animation
          .game__animation-lantern.game__animation-lantern--3
          .game__animation-lantern.game__animation-lantern--4
          .game__animation-lantern.game__animation-lantern--5
          .game__animation-lantern.game__animation-lantern--6
          .game__animation-fireplace
        +card-game--factory
        .game__ingredients-container
          a.game__ingredient.game__ingredient--correct.game__ingredient--shato(href="#", data-picture="item-shato.png", data-slot="slots__item--shato", data-header="Солад Шато Шакалад", data-text="Усё правільна: абсмажаны пры высокіх тэмпературах да цёмна-карычневага колеру, гэты солад надае піву лёгкі водар смажаных арэхаў і шакаладу.")
          a.game__ingredient.game__ingredient--correct.game__ingredient--malt(href="#", data-picture="item-malt.png", data-slot="slots__item--malt", data-header="Карамельны солад", data-text="Вашы веды здзiўляюць! Сапраўды, карамельны солад дадаюць у калядны гатунак піва, каб узмацніць водар і надаць напою прыгожы колер.")
          a.game__ingredient.game__ingredient--correct.game__ingredient--hops(href="#", data-picture="item-hops.png", data-slot="slots__item--hops", data-header="Хмель", data-text="Канешне, якое ж піва без хмелю? Ва ўсіх гатунках выкарыстоўваецца толькі самы якасны хмель.")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--cacao(href="#", data-picture="item-cacao.png", data-header="Какава", data-text="Какаву лепш піць з малаком. А піва набывае шакаладны густ дзякуючы адмысловаму соладу. Шукайце далей!")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--tangerines(href="#", data-picture="item-tangerines.png", data-header="Мандарыны", data-text="Пагадзіцеся, святы — гэта не толькі мандарыны. Не варта думаць стэрэатыпна. Шукайце далей!")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--nuts(href="#", data-picture="item-nuts.png", data-header="Смажаныя арэхі", data-text="Водар смажаных арэхаў з'яўляецца ў піве дзякуючы спецыяльнаму абсмажванню соладу. Шукайце далей!")
        +message--factory
      .game__location.game__location--third
        .game__star
        .game__animation
          .game__animation-fair-lamps
            .game__animation-fair-lamp
            .game__animation-fair-lamp
            .game__animation-fair-lamp
            .game__animation-fair-lamp
            .game__animation-fair-lamp
            .game__animation-fair-lamp
            .game__animation-fair-lamp
            .game__animation-fair-lamp
        +card-game--fair
        .game__ingredients-container
          a.game__ingredient.game__ingredient--correct.game__ingredient--star(href="#", data-picture="item-star.png", data-slot="slots__item--star", data-header="Прадчуванне цудаў", data-text="Перад Калядамi верыць у цуды прасцей. І яны сапраўды здараюцца!")
          a.game__ingredient.game__ingredient--correct.game__ingredient--sock(href="#", data-picture="item-sock.png", data-slot="slots__item--sock", data-header="Смак надыходзячых свят", data-text="Вы таксама яго адчуваеце? Цудоўна!")
          a.game__ingredient.game__ingredient--correct.game__ingredient--sphere(href="#", data-picture="item-sphere.png", data-slot="slots__item--sphere", data-header="Цёплыя гісторыі", data-text="Так! Напярэдадні Каляд здараюцца самыя неверагодныя і чароўныя падзеі, пра якія потым прыемна ўзгадваць цэлы год.")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--shadow(href="#", data-picture="item-shadow.png", data-header="Сумныя думкі", data-text="Так не пойдзе! Цi могуць быць сумныя думкі перад Калядамі? Святло надыходзячых свят абавязкова развее дрэнны настрой.")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--lamp(href="#", data-picture="item-lamp.png", data-header="Нуда", data-text="Каляды — не час сумаваць! Цёплыя размовы i святочные прыгоды знойдуць вас самі, варта толькі прыгледзецца!")
          a.game__ingredient.game__ingredient--incorrect.game__ingredient--puddle(href="#", data-picture="item-puddle.png", data-header="Дрэннае надвор'е", data-text="Памятаеце: дрэннага надвор'я не існуе! Бо прыгажосць у вачах таго, хто глядзіць. Шукайце далей!")