doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .preloader
    .unp
    .warning
    +question
    +front
    +game
    +socials('socials--main')
    +win
    include ../templates/scripts.pug