mixin slots(additionalClass)
  .slots(class=additionalClass)
    a.slots__item.slots__item--malt(href="#")
    a.slots__item.slots__item--malt-caramel(href="#")
    a.slots__item.slots__item--hop(href="#")