mixin slots(additionalClass)
  .slots(class=additionalClass)
    a.slots__item.slots__item--empty(href="#")
    a.slots__item.slots__item--empty(href="#")
    a.slots__item.slots__item--empty(href="#")