mixin front(additionalClass)
  .front(class=additionalClass)
    .game__orientation--portrait  Калі ласка, <br>павярніце <br>вашу прыладу <br>вертыкальна.
    .front__content
      .front__title
      .front__comment Які ён — сапраўдны смак Каляд? <br>Прайдзіце святочны квэст, каб знайсцi адказ!
    +card