mixin front(additionalClass)
  .front(class=additionalClass)
    +objects
    .front__content
      .front__title
      .front__comment Які ён - сапраўдны смак Каляд? <br>Прайдзіце святочны квэст, каб знайсцi адказ!
    +card